<ion-header>
  <ion-toolbar color="primary"> 
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> 
    </ion-buttons>
    <ion-title>Mis Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding"> 
  <ion-header collapse="condense">
    <ion-toolbar color="primary"> 
      <ion-title size="large">Mis Compras</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list *ngIf="compras.length > 0">
    <ion-item *ngFor="let compra of compras" lines="full"> 
      <ion-avatar slot="start"> 
        <ion-icon name="cart-outline" style="font-size: 32px;"></ion-icon>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{ compra.producto }}</strong></h2> 
        <p>Total Pagado: <strong>{{ compra.precio | number:'1.3-3'}} CLP</strong></p> 
        <p>Fecha de la Compra: {{ compra.fecha_emision | date }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-item *ngIf="compras.length === 0" color="light"> 
    <ion-label class="ion-text-center"> 
      <h2>No tienes compras registradas.</h2>
    </ion-label>
  </ion-item>
</ion-content>
