<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!username || !email || !password || !confirmPassword || password !== confirmPassword">
      Registrarse
    </ion-button>
  </form>
</ion-content>
