ion-item {
    --background: transparent;
  }
  
  ion-button {
    --background: #333;
    --color: white;
  }
  
  ion-title {
    font-size: 1.4em;
    text-align: center;
    font-weight: bold;
  }
  