<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lista-donas"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Agregar Nueva Dona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
      <ion-button expand="full" (click)="selectImage()">Seleccionar Imagen</ion-button>
      <img *ngIf="imagen" [src]="imagen" alt="Imagen de la dona" style="height: 150px; width: 150px;" />
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nombre</ion-label>
      <ion-input [(ngModel)]="nombre" name="nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Precio</ion-label>
      <ion-input [(ngModel)]="precio" name="precio"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea [(ngModel)]="descripcion" name="descripcion"></ion-textarea>
    </ion-item>
    <ion-button color="success" (click)="insertar()">Agregar Dona</ion-button>
</ion-content>
