<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="profile-container" *ngIf="isLoggedIn; else noSession">
    <ion-avatar class="profile-avatar">
      <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar del usuario">
    </ion-avatar>
    <h2>{{ username }}</h2>
    <p>{{ email }}</p>
    
    <ion-list>
      <ion-item button (click)="goToSettings()">
        <ion-icon slot="start" name="settings-outline"></ion-icon>
        <ion-label>Configuración</ion-label>
      </ion-item>
      <ion-item button (click)="logOut()">
        <ion-icon slot="start" name="log-out-outline"></ion-icon>
        <ion-label>Cerrar Sesión</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Mostrar mensaje y botón de iniciar sesión si no hay sesión activa -->
  <ng-template #noSession>
    <div class="no-session-message">
      <p>No has iniciado sesión.</p>
      <ion-item button (click)="goToLogin()">
        <ion-icon slot="start" name="log-in-outline"></ion-icon>
        <ion-label>Iniciar Sesión</ion-label>
      </ion-item>
    </div>
  </ng-template>
</ion-content>
