<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="configuracion-content">
  <form (ngSubmit)="actualizarDatos()" class="config-form">
    <ion-item class="form-item">
      <ion-label position="floating">Nombre de usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username" required></ion-input>
    </ion-item>

    <ion-item class="form-item">
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
    </ion-item>

    <div class="avatar-section">
      <img *ngIf="imagenAvatar" [src]="imagenAvatar" alt="Avatar" class="avatar-image" />
      <ion-button (click)="chooseImageSource()" class="select-image-button">Seleccionar Imagen de Avatar</ion-button>
    </div>

    <div *ngIf="updateError" class="error-message">
      Error al actualizar la cuenta. Por favor, inténtalo nuevamente.
    </div>

    <ion-button expand="full" color="success" type="submit" class="submit-button">Actualizar Cuenta</ion-button>
  </form>

  <ion-item button (click)="goToDonas()" class="donas-link">
    <ion-icon slot="start" name="settings-outline"></ion-icon>
    <ion-label>Lista Donas</ion-label>
  </ion-item>
</ion-content>

  <!-- Botón para cambiar contraseña -->
  <ion-button expand="full" color="primary" (click)="cambiarContrasena()" 
  class="change-password-button" [disabled]="!isUserLoggedIn()">Cambiar Contraseña</ion-button>