<app-menu></app-menu>

<ion-content>
  <div class="content">

    <h1>Nuestra Historia</h1>

    <img src="assets/icon/buyhicsa.png" alt="Nuestra Dona" class="dona-image" />

    <p>
      Nuestra dona es el resultado del esfuerzo y la determinación de una familia haitiana que, a pesar de sus humildes orígenes, soñó con crear algo grande. Con mucho trabajo y dedicación, decidieron fundar una empresa de donas que se convierta en un competidor directo de Dunkin' Donuts.
    </p>
    <p>
      Cada dona que ofrecemos está hecha con amor y los mejores ingredientes, reflejando la rica herencia cultural y el deseo de superación de nuestra familia.
    </p>
    <p>
      Nuestra misión es ofrecer un producto que no solo sea delicioso, sino que también inspire a otros a perseguir sus sueños, sin importar los obstáculos. Queremos que cada bocado de nuestras donas sea una celebración de la vida y de las oportunidades que se pueden alcanzar con esfuerzo y dedicación.
    </p>
    <h2>Un Compromiso con la Calidad</h2>
    <p>
      En cada dona, ponemos nuestro corazón y pasión por la repostería. Utilizamos recetas familiares tradicionales que han sido transmitidas de generación en generación, y nos aseguramos de que cada dona tenga un sabor excepcional que la diferencie de la competencia.
    </p>
    <h2>Nuestra Visión</h2>
    <p>
      Creemos en construir una comunidad donde todos puedan disfrutar de un delicioso momento con nuestras donas. Nuestra meta es expandirnos y llevar nuestra pasión a cada rincón, convirtiéndonos en un nombre reconocido y querido por todos.
    </p>

    <a  href="tel:959926168">Contáctanos </a>
      
   

  </div>
</ion-content>
