<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Lista de Donas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item-sliding *ngFor="let dona of listaDonas; let i = index">
      <ion-item>
        <ion-thumbnail slot="start">
          <img [src]="dona.imagen" alt="Imagen de {{ dona.nombre }}" />
        </ion-thumbnail>
        <ion-label>
          <p>id: {{ dona.iddona }}</p>
          <h2>{{ dona.nombre }}</h2>
          <p>Precio: ${{ dona.precio | number:'1.3-3' }} CLP </p>
          <p>Descripcion: {{ dona.descripcion }}</p>
          <p [ngClass]="{'disponible': dona.disponible === 1, 'no-disponible': dona.disponible === 2}">
            Estado: {{ dona.disponible === 1 ? 'Disponible' : 'No Disponible' }}
          </p>
        </ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="modificar(dona)">
          <ion-icon slot="icon-only" name="pencil"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="marcarNoDisponible(dona)">
          <ion-icon slot="icon-only" name="close"></ion-icon> 
        </ion-item-option>
        <ion-item-option color="success" (click)="marcarComoDisponible(dona)">
          <ion-icon slot="icon-only" name="checkmark"></ion-icon>
        </ion-item-option>
        <!-- <ion-item-option color="danger" (click)="borrar(dona)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option> -->
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="agregar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
