<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar Dona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-button expand="block" (click)="selectImage()">Seleccionar Imagen</ion-button>
      <img *ngIf="dona.imagen" [src]="dona.imagen" alt="Imagen de la dona" style="height: 150px; width: 150px;" />
    </ion-item>
    
    <ion-item>
      <ion-input label="Nombre" labelPlacement="floating" [(ngModel)]="dona.nombre" placeholder="Nombre de la dona"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Precio" labelPlacement="floating" [(ngModel)]="dona.precio" placeholder="Precio de la dona"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input label="Descripción" labelPlacement="floating" [(ngModel)]="dona.descripcion" placeholder="Descripción de la dona"></ion-input>
    </ion-item>
    
  </ion-list>

  <ion-button expand="block" color="success" (click)="modificar()">Guardar Cambios</ion-button>
</ion-content>