<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button> <!-- Botón de retroceso -->
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="form-container">
    <form (ngSubmit)="login()">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email" [(ngModel)]="email" name="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password" name="password" required></ion-input>
      </ion-item>

      <div *ngIf="loginError" class="error-message">
        Correo o contraseña incorrectos.
      </div>

      <ion-button expand="full" color="primary" type="submit">Iniciar sesión</ion-button>

      <!-- Texto que redirige al registro -->
      <div class="register-link" (click)="goToRegister()" style="text-align: center; margin-top: 10px; cursor: pointer; color: blue; text-decoration: underline;">
        ¿No tienes una cuenta? Regístrate aquí
      </div>
    </form>
  </div>
</ion-content>