<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <div *ngIf="carrito.length === 0" class="empty-cart">
    <ion-icon name="cart-outline" size="large"></ion-icon>
    <p>El carrito está vacío.</p>
  </div>

  <div *ngIf="carrito.length > 0" class="cart-items">
    <ion-list>
      <ion-item *ngFor="let item of carrito; let i = index" class="cart-item">
        <ion-thumbnail slot="start">
          <img [src]="item.imagen" alt="{{ item.nombre }}" class="item-img">
        </ion-thumbnail>
        <ion-label class="item-label">
          <h2>{{ item.nombre }}</h2>
          <div class="item-details">
            <p>Cantidad: 
              <ion-button fill="clear" (click)="decrementarCantidad(i)" [disabled]="item.cantidad <= 1">
                <ion-icon name="remove-circle-outline"></ion-icon>
              </ion-button>
              {{ item.cantidad }}
            </p>
            <p>Precio Unitario: <strong>$ {{ item.precio | number: '1.3-3' }}</strong></p>
            <p>Total Producto: <strong>$ {{ (item.precio * item.cantidad) | number: '1.3-3' }}</strong></p>
          </div>
        </ion-label>
        <ion-button color="danger" (click)="eliminarDelCarrito(i)" class="remove-button">
          <ion-icon name="trash-outline"></ion-icon>
          Eliminar
        </ion-button>
      </ion-item>
    </ion-list>

    <div class="total">
      <h3>Total de la Compra: <strong>$ {{ total | number: '1.3-3' }}</strong></h3>
      <ion-button expand="full" color="primary" (click)="confirmarCompra()">Confirmar Compra</ion-button>
    </div>
  </div>
</ion-content>