<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Clave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="form-container">
    <ion-card>
      <form *ngIf="fase === 1" (ngSubmit)="verificarEmail()">
        <ion-card-header>
          <ion-card-title>Recuperar Contraseña</ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-label position="floating">Correo electrónico</ion-label>
          <ion-input [(ngModel)]="email" name="email" required type="email"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="secondary" shape="round">
          Verificar
        </ion-button>
      </form>

      <form *ngIf="fase === 2" (ngSubmit)="verificarPregunta()">
        <ion-item>
          <ion-label position="floating">{{ pregunta }}</ion-label>
          <div class="space-between"></div>
          <ion-input [(ngModel)]="respuesta" name="respuesta" required placeholder="Escribe tu respuesta" clearInput></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="secondary" shape="round">
          Responder
        </ion-button>
      </form>

      <form *ngIf="fase === 3" (ngSubmit)="cambiarContrasena()">
        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input [(ngModel)]="nuevaContrasena" name="nuevaContrasena" required type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirmar contraseña</ion-label>
          <ion-input [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required type="password"></ion-input>
        </ion-item>
        <ion-button expand="full" type="submit" color="primary" shape="round">
          Cambiar Contraseña
        </ion-button>
      </form>
    </ion-card>
  </div>

</ion-content>
