ion-toolbar .logo {
    width: 30px;
    height: auto; 
    vertical-align: middle;
    margin-right: 10px; 
  }
  
  ion-toolbar div {
    display: flex;
    align-items: center; 
  }
  
  ion-toolbar p {
    margin: 0;
    font-size: 18px; 
  }

